@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F6F4;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #D2E9E9;
    text-align: center;
    color: #333;
    padding: 20px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #D2E9E9;
    text-align: center;
}

.add-task input {
    width: 15rem;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 0.9rem;
}

.add-task input:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.add-task button {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #6dd1d1;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    color: #333;
}

.add-task button:hover {
    background-color: #5bb8b8;
    color: #EEEEEE;
    transition: 0.3s;
    box-shadow: 0px 0px 10px #5bb8b8;
}

.task-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.task-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30rem;
    background-color: #D2E9E9;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: black solid 1px;
}

.task-list-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 95%;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 500;
        color: #333;
    }
}

.btns {
    width: 20%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.check-task {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #6dd1d1;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    color: #EEEEEE;
}

.check-task:hover {
    background-color: #5bb8b8;
    box-shadow: 0px 0px 2px #5bb8b8;
    transition: 0.3s;
    color: white;
}

.delete-task {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #cc0000;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    color: #EEEEEE;
}

.delete-task:hover {
    background-color: #d61111;
    box-shadow: 0px 0px 2px #d61111;
    transition: 0.3s;
    color: white;
}

.edit-task {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #ffcc00;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.edit-task:hover {
    background-color: #ffbb00;
    box-shadow: 0px 0px 2px #ffbb00;
    transition: 0.3s;
    color: white;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-weight: 550;
    display: none;
    color: aliceblue;
}

.empty:hover {
    color: #000000;
    transition: 0.3s;
}

.mins {
    text-decoration: line-through;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.delete-all {
    padding: 5px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #cc0000;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: #EEEEEE;
}

.delete-all:hover {
    background-color: #d61111;
    box-shadow: 0px 0px 2px #d61111;
    transition: 0.3s;
    color: white;
}


@media (max-width: 768px) {
    .add-task {
        flex-direction: column;
    }
}